.iconPrimary {
    color: #009688
}

.themePrimary {
    background-color: #ee6e73
}

.themeAccent {
    background-color: #009688
}

.textDark {
    color: black
}

.textPrimary {
    color: white
}

.marginAll {
    margin: 1vw
}