<!DOCTYPE html>
<html>

<head>
    <% include ./Layout/Head.ejs %>
</head>

<body>
    <div id="root" class="g9c27b0">

        <% include ./Layout/Navbar.ejs %>
        <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <div class="container">
            <br>
            <div class="row">
                <div class="card col s12 m8 push-m2 hoverable">
                    <div class="card-content center">
                        <span class="card-title">The GNU System</span>
                        <form method="POST" action="/assign">
                            <%for(var i=21563654; i<21563660; i++){%>
                            <br>
                            <label class="marginAll">
                                <input name="reviewer" value="<%=i%>" type="checkbox" />
                                <span class="marginAll">Reviewer:
                                    <%=Math.random().toString(36).substring(7);%></span>
                            </label>
                            <br>
                            <%}%>
                            <br>
                            <div class="marginAll">
                                <button class="btn waves-effect waves-light themeAccent z-depth-0 btn-small fullw" type="submit"
                                    name="action">Assign Reviewers</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <% include ./Layout/Footer.ejs %>
    </div>
    <!-- //////////////////////////////////////////////////////////////////////////////////// -->
    <% include ./Layout/ScriptTag.ejs %>

</body>

</html>