<!DOCTYPE html>
<html>

<head>
    <% include ./Layout/Head.ejs %>
</head>

<body>
    <div id="root" class="g9c27b0">

        <% include ./Layout/Navbar.ejs %>
        <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <div class="container">
            <br>
            <div class="row">
                <div class="card col s12 m8 push-m2 hoverable">
                    <div class="card-content center">
                        <span class="card-title">
                            <%=Paper._title%></span>
                        <form method="POST" action="/assigning">
                            <%for(var i=0; i<Reviewers.length; i++){%>
                            <br>
                            <label class="marginAll">
                                <input name="reviewer" value="<%=Reviewers[i]._id%>" type="checkbox" />
                                <span class="marginAll">
                                    <%=Reviewers[i]._name%></span>
                            </label>
                            <br>
                            <%}%>
                            <br>
                            <div class="marginAll">
                                <button class="btn waves-effect waves-light themeAccent z-depth-0 btn fullw" type="submit"
                                    name="PAPER" value=<%=Paper._id%>>Assign Reviewers</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <% include ./Layout/Footer.ejs %>
    </div>
    <!-- //////////////////////////////////////////////////////////////////////////////////// -->
    <% include ./Layout/ScriptTag.ejs %>

</body>

</html>