<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <form action="/edit" method="POST">
        <input type="text" name="NAME" value="<%= User._name %>">
        <input type="email" name="EMAIL" value="<%= User._email %>">
        <input type="submit" value="Update">
    </form>

    <br>
    <% include ./Layout/Header.ejs %>
</body>

</html>