<!DOCTYPE html>
<html>

<head>
    <% include ./Layout/Head.ejs %>
</head>

<body>
    <div id="root" class="g9c27b0">

        <% include ./Layout/Navbar.ejs %>
        <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

        <br><br><br>
        <div class="container">
            <div class="card hoverable">
                <div class="card-content">
                    <span class="card-title center">Page Not Found...</span>
                </div>
                <div class="card-content center">
                    <a class="black-text" href="./">Click here to visit Home Page</a>
                    <br><br><br>
                </div>
            </div>
        </div>
        <br><br><br>

        <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <% include ./Layout/Footer.ejs %>
    </div>
    <!-- //////////////////////////////////////////////////////////////////////////////////// -->
    <% include ./Layout/ScriptTag.ejs %>

</body>

</html>