<!DOCTYPE html>
<html>

<head>
    <% include ./Layout/Head.ejs %>
</head>

<body>
    <div id="root" class="g4caf50">

        <% include ./Layout/Navbar.ejs %>
        <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

        <div class="container">
            <h4>
                <%=Paper._title%><a target="_blank" href=<%=Paper._file%> class="waves-effect waves-light btn right"><i
                        class="material-icons right">cloud_download
                    </i>Download</a></h4>
        </div>
        <iframe src=<%=Paper._file%> style="width:100%; height:1080px;" frameborder="0"></iframe>
        <br>
        <br>
        <br>

        <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <% include ./Layout/Footer.ejs %>
    </div>
    <!-- //////////////////////////////////////////////////////////////////////////////////// -->
    <% include ./Layout/ScriptTag.ejs %>
</body>

</html>