<!DOCTYPE html>
<html>

<head>
    <% include ./Layout/Head.ejs %>
</head>

<body>
    <% include ./Layout/Navbar.ejs %>
    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <br>
    <h4 class="center">Paper Topic</h4>
    <iframe src="/pdf/paper.pdf" style="width:100%; height:1080px;" frameborder="0"></iframe>
    <div class="container center">
        <br>
        <h5 class="center">Paper Topic</h5>
        <form>
            <div class="input-field">
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">Remarks</label>
            </div>
        </form>
        <a href="#" class="waves-effect waves-light themeAccent marginAll btn">Accept</a>
        <a href="#" class="waves-effect waves-light themeAccent marginAll btn">Reject</a>
    </div>
    <br>

    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <% include ./Layout/Footer.ejs %>
    <!-- //////////////////////////////////////////////////////////////////////////////////// -->
    <% include ./Layout/ScriptTag.ejs %>

</body>

</html>