<!DOCTYPE html>
<html>

<head>
    <% include ./Layout/Head.ejs %>
</head>

<body>
    <% include ./Layout/Navbar.ejs %>
    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <br>
    <div class="container">
        <div class="card hoverable">
            <div class="card-content">
                <span class="card-title center">Bahar Ali Durrani</span>
            </div>
            <div class="divider"></div>
            <div class="card-content">
                <span>Email:</span><span class="right">baharalidurrani@gmail.com</span>
            </div>
            <div class="divider"></div>
            <div class="card-content">
                <span>Gender:</span><span class="right">Male</span>
            </div>
            <div class="divider"></div>
            <div class="card-content">
                <span>Approved Roles:</span><br>
                <span class="right">
                    <label class="marginAll">
                        <input type="checkbox" checked="checked" disabled="disabled" />
                        <span>Author</span>
                    </label>
                    <label class="marginAll">
                        <input type="checkbox" checked="checked" disabled="disabled" />
                        <span>Reviewer</span>
                    </label>
                    <label class="marginAll">
                        <input type="checkbox" disabled="disabled" />
                        <span>Editor</span>
                    </label>
                </span>
                <br>
            </div>
        </div>
    </div>
    <br>
    <h3 class="themePrimary textPrimary center">Users Approval</h3>
    <div class="container">
        <ul class="collapsible collapsible popout">
            <li>
                <div class="collapsible-header"><i class="material-icons">people_outline</i>Reviewers<span class="new badge">4</span></div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <tbody>
                            <tr>
                                <td>Nameera</td>
                                <td>nameera@gmail.com</td>
                                <td><a href="" class="waves-effect waves-light btn">Approve</a></td>
                            </tr>
                            <tr>
                                <td>Nameera</td>
                                <td>nameera@gmail.com</td>
                                <td><a href="" class="waves-effect waves-light btn">Approve</a></td>
                            </tr>
                            <tr>
                                <td>Nameera</td>
                                <td>nameera@gmail.com</td>
                                <td><a href="" class="waves-effect waves-light btn">Approve</a></td>
                            </tr>
                            <tr>
                                <td>Nameera</td>
                                <td>nameera@gmail.com</td>
                                <td><a href="" class="waves-effect waves-light btn">Approve</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">people</i>Editors<span class="new badge">2</span></div>
                <div class="collapsible-body">
                    <table class="striped centered">
                        <tbody>
                            <tr>
                                <td>Nameera</td>
                                <td>nameera@gmail.com</td>
                                <td><a href="" class="waves-effect waves-light btn">Approve</a></td>
                            </tr>
                            <tr>
                                <td>Nameera</td>
                                <td>nameera@gmail.com</td>
                                <td><a href="" class="waves-effect waves-light btn">Approve</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
        </ul>
    </div>

    <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
    <% include ./Layout/Footer.ejs %>
    <!-- //////////////////////////////////////////////////////////////////////////////////// -->
    <% include ./Layout/ScriptTag.ejs %>

</body>

</html>