<!DOCTYPE html>
<html>

<head>
    <% include ./Layout/Head.ejs %>
</head>

<body>
    <div id="root" class="gee6e73">

        <% include ./Layout/Navbar.ejs %>
        <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

        <div class="container">
            <br>

            <%if(User._loggedAs != 'editor'){%>
            <div class="center">
                <a href="/upload" class="btn btn-large waves-effect waves-light themeAccent">Upload Paper</a>
            </div>
            <br>
            <%}%>

            <ul class="collapsible popout">
                <li class="white">
                    <div class="row">
                        <div>
                            <h4 class="col s3">Topic</h4>
                            <h4 class="col s3">Author(s)</h4>
                            <h4 class="col s3">Status</h4>
                            <h4 class="col s3"></h4>
                        </div>
                    </div>
                </li>
                <%for(var i=1;i<4;i++){%>
                <li class="white">
                    <div class="row">
                        <div class="collapsible-header">
                            <span class="col s3"><b>GNU System</b></span>
                            <span class="col s3">Richard Stallman</span>
                            <span class="col s3">Accepted</span>
                            <a class="col s3 z-depth-0 waves-effect waves-light btn-small">Review</a>
                        </div>
                    </div>
                    <div class="collapsible-body">
                        <form method="POST" action="/upload">
                            <div class="input-field">
                                <textarea id="textarea" class="materialize-textarea" data-length="325" name="FORAUTHOR"
                                    required="" aria-required="true"></textarea>
                                <label for="textarea">Comment for Author</label>
                            </div>
                            <div class="input-field">
                                <textarea id="textarea" class="materialize-textarea" data-length="325" name="FOREDITOR"
                                    required="" aria-required="true"></textarea>
                                <label for="textarea">Comment for Editor</label>
                            </div>
                            <div class="center">
                                <a href="/paper" class="z-depth-0 waves-effect waves-light btn-small marginAll">View
                                    Paper</a>
                                <button type="submit" name="AS" value="accept" class="z-depth-0 waves-effect waves-light btn-small marginAll">Accept</button>
                                <button type="submit" name="AS" value="reject" class="z-depth-0 waves-effect waves-light btn-small marginAll">Reject</button>
                                <a onclick="closePaper('<%=i%>')" class="z-depth-0 waves-effect waves-light btn-small marginAll">Cancel</a>
                            </div>
                        </form>
                    </div>
                </li>
                <%}%>
            </ul>
        </div>
        <br>

        <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <% include ./Layout/Footer.ejs %>
    </div>
    <!-- //////////////////////////////////////////////////////////////////////////////////// -->
    <% include ./Layout/ScriptTag.ejs %>

</body>

</html>