<!DOCTYPE html>
<html>

<head>
    <% include ./Layout/Head.ejs %>
</head>

<body>
    <div id="root" class="gee6e73">

        <% include ./Layout/Navbar.ejs %>
        <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

        <div class="container center">
            <br>

            <%if(User._loggedAs != 'editor'){%>
            <a class="btn btn-large waves-effect waves-light themeAccent">Upload Paper</a>
            <br>
            <br>
            <%}%>

            <ul class="white collapsible expandable">
                <li>
                    <div class="collapsible-header"><i class="material-icons">assignment</i>Paper Repository</div>
                    <div class="collapsible-body">
                        <table class="highlight">
                            <thead>
                                <tr>
                                    <th>Research Topic</th>
                                    <th>Author</th>
                                    <th>Status</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td><a href="/paper">Material Design</a></td>
                                    <td>Friends at Google</td>
                                    <td>Accepted</td>
                                    <td>It is a good concept.</td>
                                </tr>
                                <tr>
                                    <td><a href="/paper">GNU System</a></td>
                                    <td>Richard Stallman</td>
                                    <td>Accepted</td>
                                    <td>Seems a free environment.</td>
                                </tr>
                                <tr>
                                    <td><a href="/paper">f.lux</a></td>
                                    <td>Lorna Herf</td>
                                    <td>Pending</td>
                                    <td>This paper is being reviewed.</td>
                                </tr>
                                <tr>
                                    <td><a href="/paper">Electrionic Frontier Foundation</a></td>
                                    <td>Edward Snowden</td>
                                    <td>Accepted</td>
                                    <td>It is a good concept.</td>
                                </tr>
                                <tr>
                                    <td><a href="/paper">Windows</a></td>
                                    <td>Microsoft</td>
                                    <td>Rejected</td>
                                    <td>This concept don't respect user privacy.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
        <br>

        <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <% include ./Layout/Footer.ejs %>
    </div>
    <!-- //////////////////////////////////////////////////////////////////////////////////// -->
    <% include ./Layout/ScriptTag.ejs %>

</body>

</html>