<!DOCTYPE html>
<html>

<head>
    <% include ./Layout/Head.ejs %>
</head>

<body>
    <div id="root" class="g9c27b0">

        <% include ./Layout/Navbar.ejs %>
        <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

        <div class="container">
            <br>

            <div class="center">
                <a href="/upload" class="btn btn-large waves-effect waves-light themeAccent"><i class="material-icons right">cloud_upload
                    </i>Upload Paper</a>
            </div>
            <br>

            <ul class="collapsible popout">
                <%for(var i=0;i<4;i++){%>
                <li class="btnClose white">
                    <div class="row">
                        <div class="collapsible-header valign-wrapper">
                            <%if(i==1){%>
                            <i class="material-icons green-text tooltipped" data-tooltip="Accepted">done_outlined</i>
                            <%}else if(i==2){%>
                            <i class="material-icons red-text tooltipped" data-tooltip="Rejected">clear</i>
                            <%}else if(i==3){%>
                            <i class="material-icons blue-text tooltipped" data-tooltip="Published">cloud_upload</i>
                            <%}else{%>
                            <i class="material-icons purple-text tooltipped" data-tooltip="Pending">error</i>
                            <%}%>
                            <p class="flow-text col s6 l8">GNU System GNU System GNU System</p>
                            <a class="z-depth-0 waves-effect waves-light btn-small">Details</a>
                        </div>
                    </div>
                    <div class="btnClose collapsible-body">
                        <blockquote>
                            <p class="flow-text"><b>Introduction:</b> sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </blockquote>
                        <blockquote>
                            <p class="flow-text"><b>Review 1:</b> sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </blockquote>
                        <blockquote>
                            <p class="flow-text"><b>Review 2:</b> sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </blockquote>
                        <blockquote>
                            <p class="flow-text"><b>Review 3:</b> sit amet, consectetur adipiscing elit, sed do
                                eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </blockquote>

                        <form method="POST" action="/delete">
                            <div class="center">
                                <a href="/paper" class="z-depth-0 waves-effect waves-light btn-small marginAll">View</a>
                                <button type="submit" name="AS" value="delete" class="z-depth-0 waves-effect waves-light btn-small marginAll">Delete</button>
                                <a onclick="btnClose()" class="z-depth-0 waves-effect waves-light btn-small marginAll">Close</a>
                            </div>
                        </form>
                    </div>
                </li>
                <%}%>
            </ul>
        </div>
        <br>

        <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <% include ./Layout/Footer.ejs %>
    </div>
    <!-- //////////////////////////////////////////////////////////////////////////////////// -->
    <% include ./Layout/ScriptTag.ejs %>

</body>

</html>