<!DOCTYPE html>
<html>

<head>
    <% include ./Layout/Head.ejs %>
</head>

<body>
    <div id="root" class="gee6e73">

        <% include ./Layout/Navbar.ejs %>
        <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

        <br>
        <div class="container">
            <div class="card-panel hoverable">
                <form method="POST" action="/upload">
                    <div class="input-field">
                        <input id="input_text" type="text" data-length="40" name="TITLE" required="" aria-required="true">
                        <label for="input_text">Paper Title</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="textarea" class="materialize-textarea" data-length="325" name="INTRO" required=""
                            aria-required="true"></textarea>
                        <label for="textarea">Brief Introduction</label>
                    </div>
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>PDF</span>
                            <input type="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" name="FILE" required="" aria-required="true">
                        </div>
                    </div>
                    <div class="center">
                        <button type="submit" class="z-depth-0 waves-effect waves-light btn marginAll">Upload Paper</button>
                    </div>
                </form>
            </div>
        </div>
        <br>

        <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <% include ./Layout/Footer.ejs %>
    </div>
    <!-- //////////////////////////////////////////////////////////////////////////////////// -->
    <% include ./Layout/ScriptTag.ejs %>

</body>

</html>