<footer class="page-footer themePrimary">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Conference Management System</h5>
                <p class="grey-text text-lighten-4">This website can be used for uploading graduate research papers so
                    that the papers can be evaluated, reviewed, accepted and published over the web.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contact Us</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://gitlab.com/baharalidurrani/fyp" target="_blank">Gitlab</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://twitter.com/BaharAliDurrani" target="_blank">Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center">
            <span>Handcrafted with </span>
            <i class="material-icons red-text text-darken-4">favorite</i>
            <span> by Bahar Ali Durrani.</span>
            <br>
            <span> Copyright © 2019 Department of Computer Science and Software Engineering, International Islamic
                University, Islamabad.</span>
        </div>
    </div>
</footer>