<footer class="page-footer themePrimary">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="textPrimary">Conference Management System</h5>
                <p class="grey-text text-lighten-4">This website can be used to upload graduate research papers for
                    review, check plagiarism index and publish accepted papers.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="textPrimary">Contact Us</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://gitlab.com/baharalidurrani/baharalidurrani.gitlab.io/">Gitlab</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://twitter.com/BaharAliDurrani">Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2018 Copyright Department of Computer Science and Software Engineering, International Islmaic
            University, Islamabad.
        </div>
    </div>
</footer>